.sidebar{
    flex:0.2
    /* it means it will take 20% of area to display ^  */
}

.sidebar > hr{
    height: 1px;
    border:0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}